@keyframes bounce {
  0% {
    color: #fff;
    opacity: 0.2;
    transform: translateY(0);
  }

  100% {
    color: #FFCA3A;
    opacity: 0.5;
    transform: translateY(1rem);
  }
}

@keyframes typing1 {
  from {
    width: 0;
  }

  to {
    width: 9rem;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }

  to {
    width: 20rem;
  }
}

@keyframes typing3 {
  from {
    width: 0;
  }

  to {
    width: 23rem;
  }
}

@keyframes toYellow {
  from {
    color: #fff;
  }

  to {
    color: #FFCA3A;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes getAttention {
  0%, 5%, 10%, 15%, 20%, 25%, 100%{
    transform: rotate(0deg);
  }

  2.5%, 7.5%, 12.5%, 17.5%, 22.5% {
    transform: rotate(15deg);
  }
}

@keyframes flip {
  from {
    opacity: 0;
    transform: rotateY(90deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}