/* GENERAL /////////////////////////////////////////////// */

* {
  box-sizing: border-box;
}

body {
  background-color: #0E476B;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

#wrapper {
  background-attachment: fixed;
  background-color: #EAF3F9;
  background-image: url('../img/bg-pattern.svg');
  color: #0E476B;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  width: 80%;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #FFCA3A;
}

h2 {
  color: #1489CC;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

/* NAV BAR */

nav {
  color: #fff;
  display: flex;
  font-size: 0.9rem;
  height: 100px;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

nav li {
  margin-left: 60px;
  user-select: none;
}

nav i {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

/* NAV BAR END */

/* HEADER ///////////////////////////////////////////// */

header {
  background-color: #1489CC;
  background: linear-gradient(#0E476B00, #1489CC), url('../img/bg-pattern2.png');
  display: flex;
  color: #fff;
  height: 650px;
  justify-content: center;
  position: relative;
}

header::before {
  background: url('../img/header-top-edge.png') no-repeat center/cover;
  content: '';
  height: 135px;
  position: absolute;
  top: 0px;
  width: 100%;
}

header::after {
  background: url('../img/header-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: 650px;
  width: 100%;
}

.header-headings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  width: 40%;
}

.header-headings-container p {
  margin-bottom: 40px;
}

.header-headings-container span {
  color: #FFCA3A;
}

.header-headings-container button {
  background-color: #FF595E;
  border: 0;
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 12px 24px;
}

.header-headings-container button:active {
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.33);
  transform: scale(0.99);
}

.header-headings-container i {
  margin-right: 10px;
}

.header-image-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.header-image-container img {
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
  width: 380px;
  z-index: 1;
}

/* HEADER END ////////////////////////////////////////// */

/* ABOUT /////////////////////////////////////////////// */

#about {
  height: 1050px;
  margin: auto;
  padding: 100px 0;
  width: 80%;
}

#about article {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

#about h2 {
  width: 100%;
}

.about-image-container {
  width: 50%;
}

.about-image-container img {
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
  width: 380px;
}

.about-paragraphs-container {
  font-size: 1.25rem;
  width: 50%;
}

.about-paragraphs-container p {
  line-height: 35px;
  margin-bottom: 30px;
}

.about-paragraphs-container p:last-child {
  margin-bottom: 0;
}

#about span {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  font-weight: 100;
  font-style: italic;
  justify-content: center;
}

#about i {
  color: #FF595E;
  font-size: 4rem;
  margin-right: 40px;
  opacity: 0.7;
}

/* ABOUT END /////////////////////////////////////////////// */

/* SKILLS /////////////////////////////////////////////// */

#skills {
  background: linear-gradient(#0E476B, #0E476B00, #1489CC), url('../img/bg-pattern2.png');
  height: 520px;
  position: relative;
}

#skills::before {
  background: url('../img/skills-top-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: -74px;
  width: 100%;
}

#skills::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: 520px;
  width: 100%;
}

#skills h2 {
  color: #fff;
  margin: 0 auto 50px auto;
  width: 80%;
}

#skills-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.skills-card-wrapper {
  perspective: 1000px;
  width: 22%;
  z-index: 1;
}

.skills-card {
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
  cursor: col-resize;
  height: 360px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  user-select: none;
}

.skills-card:hover {
  transform: rotateY(-180deg);
}

.skills-card div,
.skills-card ul {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.skills-card-front {
  background-color: #FFCA3A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20% 20%;
}

.skills-card-back {
  background: linear-gradient(#ffda7f, #ffcf56);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  transform: rotateY(-180deg);
}

.skills-card-back li {
  cursor: default;
  padding: 8px;
  width: 100%;
}

.skills-card-back li:hover {
  transform: scale(1.1);
}

.skills-card-back li:nth-child(odd) {
  background-color: #0E476B;
  color: #ffda7f;
}

.skills-card-back li:nth-child(even) {
  color: #0E476B;
}

.skills-card-web {
  background-image: url('../img/skills-web.svg');
}

.skills-card-graphics {
  background-image: url('../img/skills-graphics.svg');
}

.skills-card-tools {
  background-image: url('../img/skills-tools.svg');
}

.skills-card-personal {
  background-image: url('../img/skills-personal.svg');
}

/* SKILLS END /////////////////////////////////////////////// */

/* EXPERIENCE /////////////////////////////////////////////// */

#experience {
  height: 950px;
  padding-top: 100px;
}

#experience h2 {
  margin: 0 auto 50px auto;
  width: 80%;
}

.experience-boxes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.experience-boxes fieldset {
  background: linear-gradient(#3E9DD5, #1489CC);
  color: #fff;
  height: 165px;
  padding: 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  width: 320px;
}

.experience-boxes fieldset::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  left: 0;
  top: 165px;
  width: 100%;
}

.experience-boxes legend {
  background: #FFCA3A;
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.5);
  color: #0E476B;
  font-size: 1.25rem;
  padding: 10px 20px;
  text-align: center;
  width: 218px;
}

.experience-boxes fieldset:nth-of-type(1) legend {
  background-color: #FF595E;
  color: #fff;
}

.experience-boxes legend:hover {
  transform: scale(1.1);
}

.experience-boxes p {
  padding: 10px;
}

.experience-boxes i {
  color: #1489CC;
  font-size: 3rem;
}

.fa-angle-double-up {
  margin-right: calc(160px - 1.5rem);
  padding: 40px 0;
  text-align: right;
  width: 100%;
}

/* EXPERIENCE END /////////////////////////////////////////////// */

/* EDUCATION /////////////////////////////////////////////// */

#education {
  background: linear-gradient(#0E476B, #0E476B00, #1489CC), url('../img/bg-pattern2.png');
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  padding-bottom: 100px;
  position: relative;
}

#education::before {
  background: url('../img/skills-top-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: -74px;
  width: 100%;
}

#education::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: 600px;
  width: 100%;
}

#education h2 {
  color: #fff;
  width: 80%;
}

.education-boxes {
  width: 40%;
}

.education-boxes div {
  line-height: 50px;
  margin-bottom: 60px;
}

.education-boxes div:last-child {
  margin-bottom: 0;
}

.education-boxes i {
  margin-right: 40px;
  text-align: center;
  width: 40px;
}

.education-boxes h3 {
  color: #FFCA3A;
  font-size: 1.5rem;
}

.education-boxes p {
  font-size: 1.25rem;
}

.courses-box {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  z-index: 1;
}

#courses-carousel {
  background-color: #1489cc50;
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 80%;
}

#courses-carousel h3 {
  font-size: 1.5rem;
  color: #FFCA3A;
  margin-bottom: 20px;
}

#courses-carousel div {
  background-color: #1489cc;
  border: solid 5px #1489cc80;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.66);
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

#courses-carousel img {
  margin-bottom: 20px;
  width: 100%;
}

#courses-carousel p:nth-child() {
  margin-bottom: 20px;
}

#courses-carousel i {
  font-size: 2rem;
  margin: auto;
}

/* EDUCATION END /////////////////////////////////////////////// */

/* CONTACT /////////////////////////////////////////////// */

#contact {
  height: 500px;
  margin: auto;
  padding: 100px 0;
  width: 80%;
}

/* CONTACT END /////////////////////////////////////////////// */


/* DYNAMIC ATTRIBUTES */

.nav-fixed {
  align-items: center;
  height: 100vh;
  left: 90%;
  position: fixed;
  width: 10%;
}

.nav-fixed ul {
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
}

.nav-fixed li {
  margin-left: 0;
}

#nav-menu-icon {
  background-color: #1489cc;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,0.50);
  color: #fff;
  display: none;
  font-size: 3rem;
  left: calc(90% - 2rem);
  padding: 5px 10px;
  position: fixed;
  top: 1.5rem;
  z-index: 9;
  transition: left 0.5s, opacity 0.5s, background-color 0.2s;
}

#nav-menu-icon:hover {
  background-color: #3E9DD5;
}

#nav-close-icon {
  color: #FF595E;
  display: none;
}

#nav-close-icon:hover {
  color: #FFCA3A;
}

.nav-mobile {
  left: 80%;
}