/* GENERAL /////////////////////////////////////////////// */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

#wrapper {
  background-color: #EAF3F9;
  background-image: url('../img/bg-pattern.svg');
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

h2 {
  margin-bottom: 50px;
}

/* SHARED PROPERTIES ///////////////////////////////////////////*/

#wrapper,
.skills-card-back li:nth-child(even),
.experience-boxes legend {
  color: #0E476B;
}

#wrapper,
#about,
#skills-container,
.experience-boxes,
#courses-carousel i,
#contact {
  margin: auto;
}

#wrapper,
header,
#skills,
.skills-card,
.experience-boxes fieldset,
#education {
  position: relative;
}

#wrapper,
nav ul,
#about,
#skills h2,
#skills-container,
#experience h2,
#education h2,
#contact {
  width: 80%;
}

a,
a:visited,
nav,
header,
.header-headings-container button,
#skills h2,
.experience-boxes fieldset,
.experience-boxes fieldset:nth-of-type(1) legend,
#education,
#education h2,
#nav-menu-icon {
  color: #fff;
}

a,
.header-headings-container button {
  cursor: pointer;
}

a:hover,
.header-headings-container span,
.education-boxes h3,
#courses-carousel h3,
#nav-close-icon:hover {
  color: #FFCA3A;
}

h2,
.experience-boxes i {
  color: #1489CC;
}

h2,
#about span {
  font-size: 2.5rem;
}

nav,
nav ul,
header,
.header-headings-container,
.header-image-container,
#about article,
#about span,
#skills-container,
.skills-card-back,
.experience-boxes,
#education,
.courses-box,
#courses-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav,
header,
.header-headings-container,
#about span,
.skills-card-back,
#education,
#courses-carousel {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav,
header::before,
header::after,
#skills::before,
#skills::after,
.skills-card div,
.skills-card ul,
.experience-boxes fieldset::after,
#education::before,
#education::after {
  position: absolute;
}

nav,
.skills-card-back,
.education-boxes i,
#courses-carousel div,
.experience-boxes legend {
  text-align: center;
}

nav,
header::before,
header::after,
#about h2,
#skills::before,
#skills::after,
.skills-card div,
.skills-card ul,
.skills-card-back li,
.experience-boxes fieldset::after,
.fa-angle-double-up,
#education::before,
#education::after,
#courses-carousel,
#courses-carousel div,
#courses-carousel-card img {
  width: 100%;
}

nav,
.header-image-container img,
.skills-card-wrapper,
.courses-box {
  z-index: 1;
}

nav ul,
#about article,
#about span,
.experience-boxes,
.nav-fixed {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav ul,
.header-image-container,
.courses-box {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

nav li,
.skills-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav i,
.about-paragraphs-container,
.experience-boxes legend,
.education-boxes p,
#courses-carousel div {
  font-size: 1.25rem;
}

nav i,
#courses-carousel h3 {
  margin-bottom: 15px;
}

body,
header,
#courses-carousel div,
#nav-menu-icon {
  background-color: #1489CC;
}

header::before,
header::after,
#skills::before,
#skills::after,
.experience-boxes fieldset::after,
#education::before,
#education::after {
  content: '';
}

header::after,
#skills::before,
#skills::after,
.experience-boxes fieldset::after,
#education::before,
#education::after {
  height: 74px;
}

.header-headings-container,
.skills-card-back,
.nav-fixed ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-headings-container,
#courses-carousel i {
  font-size: 2rem;
}

.header-headings-container,
.header-image-container,
.education-boxes,
.courses-box {
  width: 40%;
}

.header-headings-container button,
.experience-boxes fieldset:nth-of-type(1) legend {
  background-color: #FF595E;
}

.header-image-container img,
.about-image-container img,
.skills-card {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
}

.header-image-container img,
.about-image-container img {
  width: 380px;
}

#about,
#contact {
  padding: 100px 0;
}

#about article,
.experience-boxes,
#education,
#courses-carousel {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#about article,
#skills-container,
.experience-boxes,
.nav-fixed ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-paragraphs-container p:last-child,
.education-boxes div:last-child {
  margin-bottom: 0;
}

#about span,
#courses-carousel-card p:last-child {
  font-style: italic;
}

#about i,
#nav-close-icon {
  color: #FF595E;
}

#about i,
.education-boxes i {
  margin-right: 40px;
}

#skills::before,
#education::before {
  top: -74px;
}

#skills::after,
.experience-boxes fieldset::after,
#education::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
}

#skills::before,
#education::before {
  background: url('../img/skills-top-edge.png') no-repeat center/cover;
}

#skills h2,
#experience h2 {
  margin: 0 auto 50px auto;
}

.skills-card-back,
#courses-carousel-card p:last-child {
  font-weight: 500;
}

.skills-card-back,
.experience-boxes fieldset {
  text-transform: uppercase;
}

.skills-card-back li:nth-child(odd) {
  background-color: #0E476B;
}

.experience-boxes fieldset,
#courses-carousel {
  padding: 20px;
}

.experience-boxes fieldset,
.fa-angle-double-up {
  text-align: right;
}

.skills-card-front,
.experience-boxes legend {
  background-color: #FFCA3A;
}

.experience-boxes i,
#nav-menu-icon {
  font-size: 3rem;
}

/* NAV BAR /////////////////////////////////////////////////*/

nav {
  font-size: 0.9rem;
  height: 100px;
}

nav li {
  margin-left: 60px;
}

/* NAV BAR END */

/* HEADER ///////////////////////////////////////////// */

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#0E476B00), to(#1489CC)), url('../img/bg-pattern2.png');
  background: linear-gradient(rgba(14, 71, 107, 0), rgb(20, 137, 204)), url('../img/bg-pattern2.png');
  height: 650px;
}

header::before {
  background: url('../img/header-top-edge.png') no-repeat center/cover;
  height: 135px;
  left: 0;
  top: 0;
}

header::after {
  background: url('../img/header-bottom-edge.png') no-repeat center/cover;
  left: 0;
  top: 650px;
}

.header-headings-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-headings-container p {
  margin-bottom: 40px;
}

.header-headings-container button {
  border: 0;
  -webkit-box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  font-size: 1rem;
  outline: none;
  padding: 12px 24px;
}

.header-headings-container button:active {
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.33);
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.header-headings-container i {
  margin-right: 10px;
}

.header-image-container {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* HEADER END ////////////////////////////////////////// */

/* ABOUT /////////////////////////////////////////////// */

#about {
  height: 1050px;
}

#about article {
  margin-bottom: 100px;
}

.about-image-container,
.about-paragraphs-container {
  width: 50%;
}

.about-paragraphs-container p {
  line-height: 35px;
  margin-bottom: 30px;
}

#about span {
  font-weight: 100;
}

#about i {
  font-size: 4rem;
  opacity: 0.7;
}

/* ABOUT END /////////////////////////////////////////////// */

/* SKILLS /////////////////////////////////////////////// */

#skills {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(14, 71, 107)), color-stop(rgba(14, 71, 107, 0)), to(rgb(20, 137, 204))), url('../img/bg-pattern2.png');
  background: linear-gradient(rgb(14, 71, 107), rgba(14, 71, 107, 0), rgb(20, 137, 204)), url('../img/bg-pattern2.png');
  height: 520px;
}

#skills::after {
  top: 520px;
}

.skills-card-wrapper {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  width: 22%;
}

.skills-card {
  cursor: col-resize;
  height: 360px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.skills-card:hover,
.skills-card-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.skills-card div,
.skills-card ul {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
}

.skills-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20% 20%;
}

.skills-card-back {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 218, 127)), to(rgb(255, 207, 86)));
  background: linear-gradient(rgb(255, 218, 127), rgb(255, 207, 86));
  padding: 16px;
}

.skills-card-back li {
  cursor: default;
  padding: 8px;
}

.skills-card-back li:nth-child(odd) {
  color: #ffda7f;
}

.skills-card-web {
  background-image: url('../img/skills-web.svg');
}

.skills-card-graphics {
  background-image: url('../img/skills-graphics.svg');
}

.skills-card-tools {
  background-image: url('../img/skills-tools.svg');
}

.skills-card-personal {
  background-image: url('../img/skills-personal.svg');
}

/* SKILLS END /////////////////////////////////////////////// */

/* EXPERIENCE /////////////////////////////////////////////// */

#experience {
  height: 950px;
  padding-top: 100px;
}

.experience-boxes {
  width: 60%;
}

.experience-boxes fieldset {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(62, 157, 213)), to(rgb(20, 137, 204)));
  background: linear-gradient(rgb(62, 157, 213), rgb(20, 137, 204));
  height: 165px;
  width: 320px;
}

.experience-boxes fieldset::after {
  left: 0;
  top: 165px;
}

.experience-boxes legend {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  width: 218px;
}

.experience-boxes p {
  padding: 10px;
}

.fa-angle-double-up {
  margin-right: calc(160px - 1.5rem);
  padding: 40px 0;
}

/* EXPERIENCE END /////////////////////////////////////////////// */

/* EDUCATION /////////////////////////////////////////////// */

#education {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(14, 71, 107)), color-stop(rgba(14, 71, 107, 0)), to(rgb(20, 137, 204))), url('../img/bg-pattern2.png');
  background: linear-gradient(rgb(14, 71, 107), rgba(14, 71, 107, 0), rgb(20, 137, 204)), url('../img/bg-pattern2.png');
  height: 680px;
  padding-bottom: 100px;
}

#education::before {
  left: 0;
}

#education::after {
  left: 0;
  top: 680px;
}

.education-boxes div {
  line-height: 50px;
  margin-bottom: 60px;
}

.education-boxes i {
  width: 40px;
}

.education-boxes h3,
#courses-carousel {
  font-size: 1.5rem;
}

#courses-carousel {
  background-color: #1489cc50;
  -webkit-box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 12px -2px rgba(0, 0, 0, 0.75);
}

#courses-carousel div {
  border: solid 5px #1489cc;
  -webkit-box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.66);
  margin-bottom: 20px;
}

#courses-carousel-card img {
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

#courses-carousel-card p {
  height: 50px;
  margin: 10px 0;
}

#courses-carousel-card p:last-child {
  font-size: 1.125rem;
  height: 25px;
}

/* EDUCATION END /////////////////////////////////////////////// */

/* CONTACT /////////////////////////////////////////////// */

#contact {
  height: 900px;
}

#contact h2 {
  margin-bottom: 50px;
}

#contact form {
  background: -webkit-gradient(linear, left top, left bottom, from(#0E476B), to(#1489cc));
  background: linear-gradient(#0E476B, #1489cc);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 500px;
  margin: auto;
  padding: 0 60px;
  position: relative;
  width: 50%;
}

#contact form::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
  content: "";
  height: 74px;
  left: 0;
  position: absolute;
  top: 500px;
  width: 100%;
}

#contact label {
  margin-bottom: 5px;
}

#contact-name,
#contact-email,
#contact-message {
  background-color: #EAF3F9;
  border: none;
  -webkit-box-shadow: 0 1px 10px 2px #0E476B80;
  box-shadow: 0 1px 10px 2px #0E476B80;
  margin-bottom: 30px;
  padding: 5px;
}

#contact input:focus,
#contact-message:focus {
  outline: 2px solid #FFCA3A;
}

#contact-message {
  font-family: inherit;
  resize: none;
}

#contact input[type='submit'] {
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #FF595E;
  border: none;
  -webkit-box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 12px 24px;
  text-align: center;
  width: 150px;
}

#contact input[type='submit']:active {
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.33);
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

/* CONTACT END /////////////////////////////////////////////// */

/* FOOTER /////////////////////////////////////////////// */

footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #072233;
  color: #FFCA3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  height: 100px;
  position: relative;
}

footer::before {
  background: url('../img/footer-top-edge.png') no-repeat center/cover;
  content: "";
  height: 74px;
  left: 0;
  position: absolute;
  top: -74px;
  width: 100%;
}

footer div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.3%;
}

footer img {
  height: 40px;
  margin-right: 10px;
}

footer img {
  margin-right: 0;
}

footer p {
  margin-right: 20px;
}

footer i {
  font-size: 1.5rem;
}

/* FOOTER END /////////////////////////////////////////////// */

/* DYNAMIC ATTRIBUTES */

.nav-fixed {
  height: 100vh;
  left: 90%;
  width: 10%;
}

.nav-fixed ul {
  height: 60%;
}

.nav-fixed li {
  margin-left: 0;
}

#nav-menu-icon {
  -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.50);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.50);
  left: calc(90% - 2rem);
  padding: 5px 10px;
  top: 1.5rem;
  z-index: 9;
  -webkit-transition: left 0.5s, opacity 0.5s, background-color 0.2s;
  transition: left 0.5s, opacity 0.5s, background-color 0.2s;
}

#nav-menu-icon:hover {
  background-color: #3E9DD5;
}

.nav-mobile {
  left: 80%;
}

.nav-fixed,
#nav-menu-icon {
  position: fixed;
}

#nav-menu-icon,
#nav-close-icon {
  display: none;
}