/* GENERAL /////////////////////////////////////////////// */

* {
  box-sizing: border-box;
}

body {
  background-color: #0E476B;
}

.wrapper {
  background-color: #EAF3F9;
  color: #0E476B;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: auto;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 80%;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

/* HEADER ///////////////////////////////////////////// */

header {
  background: #1489CC;
  background: linear-gradient(#00000000, #1489CC), url('../img/bg-pattern2.png');
  color: #fff;
  position: relative;
}

header::before {
  background: url('../img/header-top-edge.png') no-repeat center/cover;
  content: '';
  height: 135px;
  position: absolute;
  top: 0px;
  width: 100%;
}

header::after {
  background: url('../img/header-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: 60vh;
  width: 100%;
}

/* NAV BAR */

nav {
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  min-height: 67px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

nav li {
  cursor: pointer;
  margin-left: 2.5rem;
  transition: 0.2s;
  user-select: none;
  z-index: 1;
}

nav li:hover {
  color: #FFCA3A;
}

nav i {
  margin-bottom: 1rem;
}

/* NAV BAR END */

.header-main-content {
  display: flex;
  height: 60vh;
  margin: auto;
  width: 80%;
}

.header-image-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.header-image-container img {
  box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.75);
  width: 50%;
  z-index: 1;
}

.header-headings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.55rem;
  justify-content: center;
  width: 50%;
}

.header-headings-container p {
  margin-bottom: 1.5rem;
}

.header-headings-container span {
  color: #FFCA3A;
}

.header-headings-container button {
  background-color: #FF595E;
  border: 0;
  box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.33);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0.75rem 1.5rem;
  transition: 0.4s;
}

.header-headings-container i {
  margin-right: 0.5rem;
}

/* HEADER END ////////////////////////////////////////// */

/* ABOUT /////////////////////////////////////////////// */

  #about {
    display: flex;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 80%;
  }

  .about-image-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .about-image-container img {
    box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.75);
    width: 60%;
  }

  #about article {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  #about h2 {
    color: #1489CC;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  #about p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

/* ABOUT END /////////////////////////////////////////////// */

/* SKILLS /////////////////////////////////////////////// */

#skills {
  background-color: #1489CC;
  background: linear-gradient(#0E476B, #1489CC);
  position: relative;
}

#skills::before {
  background: url('../img/skills-top-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: -74px;
  width: 100%;
}

#skills::after {
  background: url('../img/skills-bottom-edge.png') no-repeat center/cover;
  content: '';
  height: 74px;
  position: absolute;
  top: 60vh;
  width: 100%;
}

.skills-content {
  height: 60vh;
  margin: auto;
  width: 80%;
}

#skills h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

#skills-container {
  display: flex;
  height: 50%;
  justify-content: space-between;
  width: 100%;
}

.skills-card-container {
  color: #FFCA3A;
  cursor: col-resize;
  user-select: none;
  width: 20%;
  z-index: 1;
}

.skill-card {
  background-color: #FFCA3A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20% 20%;
  box-shadow: 0px 5px 12px -2px rgba(0,0,0,0.75);
  min-height: 350px;
}

.skill-card-web {
  background-image: url('../img/skills-web.svg');
}

.skill-card-graphics {
  background-image: url('../img/skills-graphics.svg');
  margin-top: 2rem;
}

.skill-card-tools {
  background-image: url('../img/skills-tools.svg');
  margin-top: 4rem;
}

.skill-card-personal {
  background-image: url('../img/skills-personal.svg');
  margin-top: 6rem;
}

/* SKILLS END /////////////////////////////////////////////// */

/* EXPERIENCE /////////////////////////////////////////////// */

#experience {
  height: 100vh;
}

/* EXPERIENCE END /////////////////////////////////////////////// */

/* DYNAMIC CLASSES */

.nav-fixed {
  height: 100vh;
  left: 90%;
  opacity: 0.5;
  position: fixed;
  transition: 0.2s;
  width: 10%;
}

.nav-fixed:hover {
  opacity: 1;
}

.nav-fixed ul {
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  margin: auto;
}

.nav-fixed li {
  height: 2rem;
  margin-left: 0;
}

.current-section i {
  font-size: 2rem;
}

.flipped-card {
  background-color: #EAF3F9;
  background-image: none;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.flipped-card li {
  padding: 0.5rem;
  width: 100%;
}

.flipped-card li:nth-child(odd) {
  background-color: #0E476B;
  color: #fff;
}

.flipped-card li:nth-child(even) {
  background-color: #EAF3F9;
  color: #0E476B;
}