@media all and (max-width: 1500px) {

  #wrapper {
    box-shadow: none;
    width: 100%;
  }

  .experience-boxes {
    margin-left: 10%;
    width: 66%;
  }

  .nav-fixed {
    background-image: url('../img/bg-pattern2.png');
    left: 95%;
    opacity: 0;
    transition: left 0.5s,
      background 0.5s,
      box-shadow 0.5s;
    z-index: 1000;
  }

  .nav-fixed:hover {
    left: 90%;
  }

}

/*//////////////////////////////////////*/

@media all and (max-width: 1200px) {

  h2 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  nav {
    font-size: 0.6rem;
  }

  header {
    height: 530px;
  }

  header::after {
    top: 530px;
  }

  .header-headings-container {
    font-size: 1.25rem;
  }

  .header-headings-container button {
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .header-image-container img {
    box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.75);
    width: 300px;
    z-index: 1;
  }

  #about {
    height: 800px;
  }

  .about-image-container img {
    width: 300px;
  }

  #about p {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 15px;
  }

  #about span {
    font-size: 1.8rem;
  }
  
  #about i {
    font-size: 3rem;
  }

  #skills {
    height: 320px;
  }

  #skills::after {
    top: 320px;
  }

  #skills h2 {
    margin-bottom: 25px;
  }

  .skills-card-wrapper {
    width: 20%;
  }

  .skills-card {
    height: 220px;
  }

  .skills-card-back {
    font-size: 0.7rem;
    padding: 10px;
  }

  .skills-card-back li {
    padding: 4px;
  }

  #experience {
    height: 750px;
    padding-top: 100px;
  }

  #experience h2 {
    margin-bottom: 25px;
  }

  .experience-boxes {
    width: 60%;
  }

  .experience-boxes fieldset {
    font-size: 0.8rem;
    height: 140px;
    padding: 10px;
    width: 250px;
  }

  .experience-boxes fieldset::after {
    top: 140px;
  }

  .experience-boxes legend {
    font-size: 1rem;
    padding: 7px 10px;
    width: 150px;
  }

  .experience-boxes p {
    padding: 10px;
  }

  .experience-boxes i {
    font-size: 2rem;
  }

  .fa-angle-double-up {
    margin-right: calc(125px - 1rem);
    padding: 74px 0 45px 0;
  }

  .web-dev-animation {
    width: 250px;
  }
  
}

/*//////////////////////////////////////*/

@media all and (max-width: 960px) {

  .experience-boxes {
    width: 70%;
  }

}

/*//////////////////////////////////////*/

@media all and (max-width: 900px) {

  nav {
    font-size: 0.6rem;
    height: 70px;
  }

  nav ul {
    justify-content: space-between;
    width: 80%;
  }

  nav li {
    margin-left: 0;
  }
  
  nav i {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  header {
    height: 470px;
  }

  header::after {
    top: 470px;
  }

  .header-headings-container {
    font-size: 1rem;
  }

  .header-image-container img {
    width: 250px;
  }

  #about {
    height: 700px;
  }

  .about-image-container img {
    width: 250px;
  }

  #about p {
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 20px;
  }

  #about span {
    font-size: 1.3rem;
  }
  
  #about i {
    font-size: 2rem;
    margin-right: 20px;
  }

  #skills {
    height: 350px;
  }

  #skills::after {
    top: 350px;
  }

  #skills-container {
    flex-wrap: wrap;
    width: 80%;
  }

  .skills-card-wrapper {
    width: 23%;
    
  }

  .skills-card {
    height: 260px;
  }

  .skills-card-back {
    align-items: center;
    padding: 12px;
  }

  .skills-card-back li {
    padding: 6px;
  }

}