@media all and (max-width: 1600px) {

  .experience-boxes {
    width: 70%;
  }

}

@media all and (max-width: 1500px) {

  #wrapper {
    box-shadow: none;
    width: 100%;
  }

  .experience-boxes {
    margin-left: 10%;
    width: 66%;
  }

  .nav-fixed {
    background-image: url('../img/bg-pattern2.png');
    left: 100%;
    transition: left 0.5s;
    z-index: 1000;
  }

  .nav-fixed::before {
    background-color: #0E476B;
    content: "";
    height: 50px;
    left: -25px;
    position: absolute;
    transform: rotate(45deg);
    transition: transform 0.5s;
    width: 50px;
    z-index: -1;
  }

  .nav-fixed:hover {
    left: 90%;
  }

  .nav-fixed:hover::before {
    transform: rotate(0deg) translate(50px);
  }

}

/*//////////////////////////////////////*/

@media all and (max-width: 1200px) {

  h2 {
    margin-bottom: 25px;
  }

  nav {
    height: 80px;
  }

  nav ul {
    width: 90%;
  }

  header {
    height: 530px;
  }

  header::after {
    top: 530px;
  }

  .header-headings-container {
    width: 45%;
  }

  .header-image-container {
    width: 45%;
  }

  .header-image-container img {
    width: 300px;
  }

  #about {
    height: 850px;
    width: 90%;
  }

  #about article {
    align-items: center;
    margin-bottom: 50px;
  }

  .about-image-container {
    width: 45%;
  }

  .about-image-container img {
    width: 300px;
  }

  .about-paragraphs-container {
    font-size: 1.25rem;
    width: 55%;
  }

  .about-paragraphs-container p {
    line-height: 30px;
    margin-bottom: 25px;
  }

  #about span {
    font-size: 2rem;
  }
  
  #about i {
    font-size: 3rem;
  }

  #skills {
    height: 420px;
  }

  #skills::after {
    top: 420px;
  }

  #skills h2 {
    margin-bottom: 25px;
    width: 90%;
  }

  #skills-container {
    width: 90%;
  }

  .skills-card-wrapper {
    width: 23%;
  }

  .skills-card {
    height: 320px;
  }

  .skills-card-back {
    font-size: 0.9rem;
    padding: 10px;
  }

  #experience {
    height: 750px;
    padding-top: 100px;
  }

  #experience h2 {
    margin-bottom: 25px;
    width: 90%;
  }

  .experience-boxes {
    margin-left: 5%;
    width: 70%;
  }

  .experience-boxes fieldset {   
    height: 150px;
    padding: 10px;
    width: 300px;
  }

  .experience-boxes fieldset::after {
    top: 150px;
  }

  .experience-boxes legend {
    padding: 7px 10px;
    width: 175px;
  }

  .web-dev-animation {
    width: 300px;
  }
  
}

/*//////////////////////////////////////*/

@media all and (max-width: 1060px) {

  .experience-boxes {
    margin-left: 5%;
    width: 90%;
  }

  .nav-fixed {
    width: 12%;
  }

  .nav-fixed:hover {
    left: 88%;
  }

}

/*//////////////////////////////////////*/

@media all and (max-width: 900px) {

  nav {
    font-size: 0.9rem;
    height: 70px;
  }
  
  nav ul {
    justify-content: space-between;
    width: 90%;
  }
  
  nav li {
    margin-left: 0;
  }
  
  nav i {
    margin-bottom: 10px;
  }

  .nav-fixed {
    height: 80px;
    left: 0;
    width: 100%;
  }

  .nav-fixed::before {
    background-color: rgba(14, 71, 107, 0);
  }
  
  .nav-fixed:hover {
    left: 0;
  }
  
  .nav-fixed ul {
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    width: 90%;
  }

  #about {
    height: 800px;
  }

  #about article {
    align-items: flex-start;
  }

  .about-paragraphs-container {
    font-size: 1.125rem;
  }

  .about-paragraphs-container p {
    line-height: 25px;
    margin-bottom: 20px;
  }
  
  .about-image-container img {
    width: 250px;
  }
  
  #about span {
    font-size: 1.8rem;
  }
  
  #about i {
    font-size: 2.5rem;
    margin-right: 20px;
  }

  #skills {
    height: 360px;
  }

  #skills::after {
    top: 360px;
  }

  .skills-card-wrapper {
    width: 23%;
  }

  .skills-card {
    height: 250px;
  }

  .skills-card-back {
    font-size: 0.8rem;
    padding: 5px;
  }

  .skills-card-back li {
    padding: 5px;
  }

  .experience-boxes i {
    font-size: 2rem;
  }
  
}

@media all and (max-width: 750px) {

  nav {
    background-image: url('../img/bg-pattern2.png');
    font-size: 0.8rem;
    height: 100vh;
    left: 100%;
    position: fixed;
    transition: left 0.5s;
    width: 20%;
    z-index: 10;
  }

  nav ul{
    flex-direction: column;
    justify-content: space-around;
  }

  nav i {
    font-size: 2rem;
  }

  #nav-menu-icon {
    cursor: pointer;
    display: block;
  }

  header {
    height: 400px;
  }

  header::before {
    display: none;
  }

  header::after {
    top: 400px;
  }
  
  .header-headings-container {
    align-items: flex-start;
    font-size: 1.75rem;
    width: 80%;
  }

  .header-headings-container button {
    font-size: 1.125rem;
  }
  
  .header-headings-container i {
    margin-right: 20px;
  }

  .header-image-container {
    display: none;
  }

  

}