.web-dev-animation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 320px;
}

.static {
  height: auto;
  width: 100%;
}

.nut {
  -webkit-animation: rotation 3s linear infinite;
          animation: rotation 3s linear infinite;
  height: 33%;
  left: 38%;
  position: absolute;
  top: 30%;
}

.light-bulb {
  -webkit-animation: luminance-intensity 0.6s linear infinite alternate;
          animation: luminance-intensity 0.6s linear infinite alternate;
  height: 25%;
  left: 2.8%;
  position: absolute;
  top: 2%;
}

.planet {
  -webkit-animation: rotation 6s linear infinite reverse;
          animation: rotation 6s linear infinite reverse;
  height: 20%;
  left: 79.8%;
  position: absolute;
  top: 59%;
}

.angle-bracket {
  -webkit-animation: move-right 3s linear infinite alternate;
          animation: move-right 3s linear infinite alternate;
  height: 8%;
  left: 10%;
  position: absolute;
  top: 74.5%;
}

.closed-tag {
  -webkit-animation: showing-up-dots 3s linear infinite alternate;
          animation: showing-up-dots 3s linear infinite alternate;
  height: 8%;
  left: 10%;
  opacity: 0;
  position: absolute;
  top: 74.5%;
}

.rule {
  -webkit-animation: move-up-down 2s linear infinite alternate;
          animation: move-up-down 2s linear infinite alternate;
  height: 3%;
  left: 73%;
  position: absolute;
  top: 22%;
}

.pen {
  -webkit-animation: move-left-right 2s linear infinite alternate;
          animation: move-left-right 2s linear infinite alternate;
  height: 18%;
  left: 84.5%;
  position: absolute;
  top: 5%;
}

.small-sizer {
  -webkit-animation: rotation 2s linear infinite alternate;
          animation: rotation 2s linear infinite alternate;
  height: 11.6%;
  left: 90.9%;
  position: absolute;
  top: 3%;
}

.ball {
  -webkit-animation: change-color 0.7s linear infinite alternate;
          animation: change-color 0.7s linear infinite alternate;
  height: 5.5%;
  position: absolute;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.yellow {
  left: 28%;
  top: 28.8%;
}

.green {
  left: 64%;
  top: 30%;
}

.blue {
  left: 28%;
  top: 71.8%;
}

.red {
  left: 64%;
  top: 66.5%;
}

/* ANIMATIONS */

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes change-color {
  from {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }

  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes change-color {
  from {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }

  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes luminance-intensity {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  to {
    opacity: 0.6;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes luminance-intensity {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  to {
    opacity: 0.6;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes move-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  80% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }

  100% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
}

@keyframes move-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  80% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }

  100% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
}

@-webkit-keyframes showing-up-dots {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showing-up-dots {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-up-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes move-up-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes move-left-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  75% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }


  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move-left-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  75% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }


  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}